.input-block {
    position: relative;
    display: flex;
    align-items: center;
}

.search-icon {
    position: absolute;
    top: 14px;
    left: 16px;
}

.input {
    border: 1px solid transparent;
    border-radius: 16px;
    background-color: var(--smoke);
    color: var(--grey);
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.1px;
    width: 100%;
    outline: none;
    padding: 12px 24px 12px 45px;
}